body{
  background-color: var(--thirdColor);
}

main {
  padding: 90px 100px 100px 100px;
}

td {
  vertical-align: top;
}

#title {
  text-align:center;
}

#abstract {
  background-color:rgb(200, 127, 100);
}


